@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/*font-family: 'Rubik', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --light-magenta: hsl(293, 100%, 63%);
    --light-violet: hsl(264, 100%, 61%);
    --light-grayish-violet: hsl(270, 20%, 96%);
    --very-dark-desaturated-violet:  hsl(271, 36%, 24%);
    --very-light-magenta: hsl(289, 100%, 72%);
}